
{% extends "base.html" %}
{% block content %}

<div class="card">

    <h2>SECURE STORAGE</h2>

    {% if not session.get("breach") %}
<form method="POST" action="{{ url_for('dashboard.upload_file') }}" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
{% else %}
<p style="color:red;">⚠ Upload Disabled in Breach Mode</p>
{% endif %}

    <br>

    <table>
        <tr>
            <th>ID</th>
            <th>FILE</th>
            <th>UPLOADED</th>
            <th>ACTION</th>
        </tr>

        {% for file in files %}
        <tr>
            <td>{{ file[0] }}</td>
            <td>{{ file[1] }}</td>
            <td>{{ file[2] }}</td>
            <td>
{% if session.get("breach") %}
    {{ file[2] }}
{% else %}
    <a href="{{ url_for('dashboard.download_file', file_id=file[0]) }}">
        <button>Open</button>
    </a>
{% endif %}
</td>
        </tr>
        {% endfor %}
    </table>

</div>


{% extends "base.html" %}
{% block content %}

<div class="card">

    <h2>SECURE STORAGE</h2>

    {% if not session.get("breach") %}
<form method="POST" action="{{ url_for('dashboard.upload_file') }}" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
{% else %}
<p style="color:red;">⚠ Upload Disabled in Breach Mode</p>
{% endif %}

    <br>

    <table>
        <tr>
            <th>ID</th>
            <th>FILE</th>
            <th>UPLOADED</th>
            <th>ACTION</th>
        </tr>

        {% for file in files %}
        <tr>
            <td>{{ file[0] }}</td>
            <td>{{ file[1] }}</td>
            <td>{{ file[2] }}</td>
            <td>
{% if session.get("breach") %}
    {{ file[2] }}
{% else %}
    <a href="{{ url_for('dashboard.download_file', file_id=file[0]) }}">
        <button>Open</button>
    </a>
{% endif %}
</td>
        </tr>
        {% endfor %}
    </table>

</div>


{% endblock %}